@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --default-color: rgb(14, 14, 240);
    --default-fontfamily: 'Poppins', arial;
    --default-background: rgb(170, 168, 168);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--default-fontfamily);
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

/* HomePage */

#home-navbar {
    background-color: var(--default-background);
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

#home-navbar>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#home-navbar>.container>h1 , #about-navbar>.container>div:first-child>h1{
    color: var(--default-color);
    font-size: 2rem;
}

#home-navbar>.container>ul {
    list-style-type: none;
    display: flex;
}

#home-navbar>.container>ul>li {
    margin-left: 1.2rem;
}

#home-navbar>.container>ul>li>a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.5s;
}

#home-navbar>.container>ul>li>a:hover {
    color: var(--default-color);
}

#home-header {
    background: linear-gradient(rgba(19, 17, 17, 0.288), rgba(3, 3, 3, 0.308)), url(../images/Animal_Rescueback.png);
    background-position: center;
    background-size: cover;
    height: 88vh;
    position: sticky;
    top: 12vh;
    z-index: -1;
}

#home-header>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#home-header>.container>h1 {
    font-size: 3rem;
    color: white;
}

#home-header>.container>p {
    font-size: 1.2rem;
    color: white;
}

#home-body {
    height: 87vh;
    background-color: var(--default-background);
    padding: 1rem 1.2rem;
}

#home-body>.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home-body>.container>h1 {
    font-size: 3rem;
    color: var(--default-color);
    margin-top: 0.5rem;
}

#home-body>.container>img {
    width: 150px;
    height: 150px
}

#home-body>.container>p {
    font-size: 1rem;
}

#home-body>.container>p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

#home-body>.container>h2 {
    font-size: 2rem;
}

#home-body>.container>p:not(:nth-child(3)) {
    color: blue;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
}

/* About Page */
#about-navbar{
    height: 40vh;
    background:linear-gradient(rgba(19, 17, 17, 0.603), rgba(3, 3, 3, 0.603)), url(../images/Animal_Rescueback.png);
    background-position: center;
    background-size: cover;
    padding: 0 2rem;
}

#about-navbar>.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#about-navbar>.container>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-navbar>.container>div>a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.1rem;
}

#about-navbar>.container>div>a:hover{
    color: var(--default-color);
}

#about-navbar>.container>div:last-child{
    height: 100%;
    display: flex;
    align-items: center;justify-content: center;
}

#about-navbar>.container>div:last-child>h1{
    font-size: 2.5rem;
    color: #fff;
}


@media(max-width:800px) {
    #home-header>.container>h1 , #about-navbar>.container>div:first-child>h1{
        font-size: 2.2rem;
    }

}

@media(max-width:600px) {
    #home-body>.container>img {
        width: 100px;
        height: 100px
    }
    #home-body>.container>p {
        font-size: 1rem;
    }
}